<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLflow Flask App</title>
</head>
<body>
    <h1>MLflow Flask App</h1>
    <!-- Champ pour télécharger un fichier JSON -->
    <input type="file" id="json-file" accept=".json">
    <br>
    <!-- Bouton pour déclencher la prédiction -->
    <button id="predict-button">Predict</button>
    <!-- Div pour afficher le résultat de la prédiction -->
    <div id="prediction-result">
        <h2>Predicted Output</h2>
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Prediction</th>
                </tr>
            </thead>
            <tbody id="prediction-table-body">
                <!-- Les résultats seront ajoutés ici dynamiquement -->
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('predict-button').addEventListener('click', function() {
            // Récupération du fichier JSON sélectionné par l'utilisateur
            const fileInput = document.getElementById('json-file');
            const file = fileInput.files[0];

            // Création d'un objet FormData pour envoyer le fichier au serveur
            const formData = new FormData();
            formData.append('file', file);

            // Envoi du fichier JSON au serveur Flask pour la prédiction
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error uploading file');
                }
                return response.json();
            })
            .then(data => {
                // Effacez le contenu précédent de la table
                const tableBody = document.getElementById('prediction-table-body');
                tableBody.innerHTML = '';

                // Ajoutez chaque prédiction au tableau
                const predictions = JSON.parse(data.predictions);
                predictions.forEach((prediction, index) => {
                    const row = tableBody.insertRow();
                    const indexCell = row.insertCell(0);
                    const predictionCell = row.insertCell(1);

                    indexCell.textContent = index;
                    predictionCell.textContent = prediction;
                });
            })
            .catch(error => {
                // Gestion des erreurs
                document.getElementById('prediction-result').innerText = 'Error: ' + error.message;
            });
        });
    </script>
</body>
</html>
